.DS_Store
.idea/
.keep
.GOPATH
.vagrant
.scannerwork/

*.zip
.env
*.pem
dockers.env
sonar-project.properties
mongo-init.js

api/vendor/
cli/vendor/
client/vendor/
Godeps/_workspace

coverage.txt
c.out
d.out
e.out
coverage.html

huskyci
huskyci-client
huskyci-cli