.DS_Store
.idea/
.keep
.GOPATH
.env
.vagrant
.scannerwork/

api/vendor/
cli/vendor/
client/vendor/

Godeps/_workspace
coverage.txt
c.out
coverage.html
*.pem
huskyci
dockers.env
huskyci-client
sonar-project.properties
mongo-init.js
*.zip