@page
@model SuccessModel
@{
    ViewData["Title"] = "Checkout complete";
}

<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<div class="container">
    <h1>Thanks for your order!</h1>
    <a asp-page="/Index">Continue shopping..</a>
</div>
