/* app.component.css */
.esh-app-footer {
    background-color: #000000;
    border-top: 1px solid #EEEEEE;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    width: 100%;
    bottom: 0;
}

.esh-app-footer-brand {
    height: 50px;
    width: 230px;
}

.esh-app-header {
    margin: 15px;
}

.esh-app-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* catalog.component.css */
.esh-catalog-hero {
    background-image: url("../../images/main_banner.png");
    background-size: cover;
    height: 260px;
    width: 100%;
}

.esh-catalog-title {
    position: relative;
    top: 74.28571px;
}

.esh-catalog-filters {
    background-color: #00A69C;
    height: 65px;
}

.esh-catalog-filter {
    -webkit-appearance: none;
    background-color: transparent;
    border-color: #00d9cc;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: .5rem;
    min-width: 140px;
    outline-color: #83D01B;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
}

    .esh-catalog-filter option {
        background-color: #00A69C;
    }

.esh-catalog-label {
    display: inline-block;
    position: relative;
    z-index: 0;
}

    .esh-catalog-label::before {
        color: rgba(255, 255, 255, 0.5);
        content: attr(data-title);
        font-size: 0.65rem;
        margin-left: 0.5rem;
        margin-top: 0.65rem;
        position: absolute;
        text-transform: uppercase;
        z-index: 1;
    }

    .esh-catalog-label::after {
        background-image: url("../../images/arrow-down.png");
        content: '';
        height: 7px;
        position: absolute;
        right: 1.5rem;
        top: 2.5rem;
        width: 10px;
        z-index: 1;
    }

.esh-catalog-send {
    background-color: #83D01B;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    margin-top: -1.5rem;
    transition: all 0.35s;
}

    .esh-catalog-send:hover {
        background-color: #4a760f;
        transition: all 0.35s;
    }

.esh-catalog-items {
    margin-top: 1rem;
}

.esh-catalog-item {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 33%;
    display: inline-block;
    float: none !important;
}

@media screen and (max-width: 1024px) {
    .esh-catalog-item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .esh-catalog-item {
        width: 100%;
    }
}

.esh-catalog-thumbnail {
    max-width: 370px;
    width: 100%;
}

.esh-catalog-button {
    background-color: #83D01B;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
    transition: all 0.35s;
    width: 80%;
}

    .esh-catalog-button.is-disabled {
        opacity: .5;
        pointer-events: none;
    }

    .esh-catalog-button:hover {
        background-color: #4a760f;
        transition: all 0.35s;
    }

.esh-catalog-name {
    font-size: 1rem;
    font-weight: 300;
    margin-top: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.esh-catalog-price {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

    .esh-catalog-price::before {
        content: '$';
    }


.esh-pager-wrapper {
    padding-top: 1rem;
    text-align: center;
}

.esh-pager-item {
    margin: 0 5vw;
}

    .esh-pager-item.is-disabled {
        opacity: .5;
        pointer-events: none;
    }

.esh-pager-item--navigable {
    cursor: pointer;
    display: inline-block;
}

    .esh-pager-item--navigable:hover {
        color: #83D01B;
    }

@media screen and (max-width: 1280px) {
    .esh-pager-item {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 1024px) {
    .esh-pager-item {
        margin: 0 2.5vw;
    }
}

.esh-basket {
    min-height: 80vh;
}

.esh-basket-titles {
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.esh-basket-titles--clean {
    padding-bottom: 0;
    padding-top: 0;
}

.esh-basket-title {
    text-transform: uppercase;
}

.esh-basket-items--border {
    border-bottom: 1px solid #EEEEEE;
    padding: .5rem 0;
}

    .esh-basket-items--border:last-of-type {
        border-color: transparent;
    }

.esh-basket-items-margin-left1 {
    margin-left: 1px;
}

.esh-basket-item {
    font-size: 1rem;
    font-weight: 300;
}

.esh-basket-item--middle {
    line-height: 8rem;
}

@media screen and (max-width: 1024px) {
    .esh-basket-item--middle {
        line-height: 1rem;
    }
}

.esh-basket-item--mark {
    color: #00A69C;
}

.esh-basket-image {
    height: 8rem;
}

.esh-basket-input {
    line-height: 1rem;
    width: 100%;
}

.esh-basket-checkout {
    background-color: #83D01B;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.35s;
}

    .esh-basket-checkout:hover {
        background-color: #4a760f;
        transition: all 0.35s;
    }

    .esh-basket-checkout:visited {
        color: #FFFFFF;
    }

.esh-identity {
    line-height: 3rem;
    position: relative;
    text-align: right;
}

.esh-identity-section {
    display: inline-block;
    width: 100%;
}

.esh-identity-name {
    display: inline-block;
}

.esh-identity-name--upper {
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .esh-identity-name {
        font-size: 0.85rem;
    }
}

.esh-identity-image {
    display: inline-block;
}

.esh-identity-drop {
    background: #FFFFFF;
    height: 10px;
    width: 10rem;
    overflow: hidden;
    padding: .5rem;
    position: absolute;
    right: 0;
    top: 2.5rem;
    transition: height 0.35s;
}

.esh-identity:hover .esh-identity-drop {
    border: 1px solid #EEEEEE;
    height: 14rem;
    transition: height 0.35s;
    z-index: 10;
}

.esh-identity-item {
    cursor: pointer;
    transition: color 0.35s;
}

    .esh-identity-item:hover {
        color: #75b918;
        transition: color 0.35s;
    }

.esh-basketstatus {
    cursor: pointer;
    display: inline-block;
    float: right;
    position: relative;
    transition: all 0.35s;
}

    .esh-basketstatus.is-disabled {
        opacity: .5;
        pointer-events: none;
    }

.esh-basketstatus-image {
    height: 36px;
    margin-top: .5rem;
}

.esh-basketstatus-badge {
    background-color: #83D01B;
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    height: 1.5rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-38%);
    transition: all 0.35s;
    width: 1.5rem;
}

.esh-basketstatus-badge-inoperative {
    background-color: #ff0000;
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    height: 1.5rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-38%);
    transition: all 0.35s;
    width: 1.5rem;
}

.esh-basketstatus:hover .esh-basketstatus-badge {
    background-color: transparent;
    color: #75b918;
    transition: all 0.35s;
}

